<html>

  <body style="background-color:black; color: white; margin-left: 16%;">
    <h1 style="margin-bottom: 3%">Trade</h1>

    <%= form_tag(search_trade_path, :method => "get") do %>
      <div class="input-group" style="width: 28%;">
        <%= search_field_tag :search, params[:search], placeholder: "Ticker (ex. MSFT, AAPL, AMZN)", class: "form-control" %>
          <%= button_tag 'Search', class: 'btn btn-light', style: 'background-color:#0CBE86; color:#FFFFFF' %>
      </div>
    <% end %>

    <div style="margin-left: 33%;">
      <%= link_to 'Buy', buy_trade_path, class: 'btn btn-light', style: 'background-color:#0CBE86; color:#FFFFFF; margin-right: 2%;' %>
      <%= link_to 'Sell', sell_trade_path, class: 'btn btn-light', style: 'background-color:#0CBE86; color:#FFFFFF' %>
    </div>

    <% if @response %>
      <h3>Quote</h3>
      <table class="table" style="background-color:#0CBE86; color:#FFFFFF;">
        <thead>
          <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
            <th scope="col">Stock Exchange</th>
            <th scope="col">Price</th>
            <th scope="col">Change</th>
            <th scope="col">Change Percent</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @response.parsed_response.first['symbol'] %></td>
            <td><%= @response.parsed_response.first['name'] %></td>
            <td><%= @response.parsed_response.first['exhange'] %></td>
            <td><%= @response.parsed_response.first['price'] %></td>
            <td><%= @response.parsed_response.first['change'] %></td>
            <td><%= @response.parsed_response.first['changesPercentage'].to_s + "%" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>

  </body>

</html>
